#### Import

In [6]:
from keras.datasets import cifar10
import pandas as pd
import numpy as np

#### Load cifar data

In [7]:
(x_train, y_train), (x_test, y_test) = cifar10.load_data()

#### Undo test/train split

In [8]:
x = np.concatenate([x_train, x_test])
y = np.concatenate([y_train, y_test])

x.shape

(60000, 32, 32, 3)

#### Flatten image data into single vectors

In [9]:
x_flat = x.reshape((x.shape[0], x.shape[1] * x.shape[2] * x.shape[3]))
x_flat.shape

(60000, 3072)

#### Create cifar base csv

In [10]:
cifar_base = pd.DataFrame(np.hstack((y, x_flat)))

#### Preview

In [11]:
cifar_base.head()

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072
0,6,59,62,63,43,46,45,50,48,43,...,104,216,184,140,151,118,84,123,92,72
1,9,154,177,187,126,137,136,105,104,95,...,136,143,133,139,143,134,142,143,133,144
2,9,255,255,255,253,253,253,253,253,253,...,79,78,85,83,79,85,83,80,86,84
3,4,28,25,10,37,34,19,38,35,20,...,38,54,47,28,63,56,37,72,65,46
4,1,170,180,198,168,178,196,177,185,203,...,78,75,79,82,71,75,78,73,77,80

#### Verify label data successfully copied to first column

In [12]:
# verify
all(cifar_base[0] == y[:, 0])

True

#### Save to csv

In [13]:
# no header row or index column
cifar_base.to_csv('datasets/cifar_base.csv', header=False, index=False)